* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 750px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control {
  padding: .4em;
}

.progress {
  background: #fff;
  height: 30px;
  border-radius: 5px;
  margin-top: 1em;
  position: relative;
  border: 1px solid #000;
  overflow: hidden;
}

.errors {
  color: #f00;
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

.progress::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: #155ff1;
  height: 30px;
  width: calc(1% * var(--progress, 0));
}

form {
  margin-top: 1em;
}

label {
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
